<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yida.handset" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_yida"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name_yida"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".ScannerActivity"
            android:label="@string/title_activity_scanner" >
        </activity>
        <activity
            android:name=".ResourceActivity"
            android:label="@string/resource_activity" >
        </activity>
        <activity
            android:name=".UpdateActivity"
            android:label="@string/title_activity_update" >
        </activity>
        <activity
            android:name=".UpdatePwdActivity"
            android:label="@string/title_activity_modify_pwd" >
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name=".BluetoothActivity"
            android:label="@string/title_activity_bluetooth" >
        </activity>
        <activity
            android:name=".HahaActivity"
            android:label="@string/app_name_yida"
            android:theme="@style/AppTheme"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".LogActivity"
            android:label="@string/title_activity_log"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".ForgetActivity"
            android:label="@string/title_activity_forget"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".PwdProtectActivity"
            android:label="@string/title_activity_pwd_protect"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".DetailActivity"
            android:label="@string/title_activity_detail"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".WorkOrderActivity"
            android:label="@string/title_activity_work_order"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".ConstructOrderActivity"
            android:label="@string/title_activity_construct_order"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".ElectronicWriterActivity"
            android:label="@string/title_activity_electronic_writer" >
        </activity>
        <activity
            android:name=".workorder.SettingActivity"
            android:label="@string/title_activity_setting" >
        </activity>
    </application>

</manifest>
